@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121317;
  color: white;
}

.sidebar-icon {
  @apply h-6 w-6 text-light-gray group-hover:text-white transition-colors duration-200;
}

.sidebar-icon.active {
  @apply text-[#171821];
}

.sidebar-item {
  @apply flex items-center gap-4 px-6 py-3 text-light-gray hover:text-white hover:bg-[rgba(169,223,216,0.2)] rounded-lg transition-all duration-200 cursor-pointer;
}

.sidebar-item.active {
  @apply text-[#171821] font-semibold bg-[#A9DFD8];
}

.react-datepicker {
  @apply bg-[#21222D] border border-[#2C2D33] !important;
}

.react-datepicker__header {
  @apply bg-[#21222D] border-b border-[#2C2D33] !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  @apply text-white !important;
}

.react-datepicker__day {
  @apply text-[#D2D2D2] hover:bg-[rgba(169,223,216,0.2)] hover:text-white transition-colors !important;
}

.react-datepicker__day--selected {
  @apply bg-[#A9DFD8] text-black font-medium !important;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-[rgba(169,223,216,0.2)] text-white !important;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  @apply bg-[#2C2D33] text-white border-none rounded-lg p-1 !important;
}

.react-datepicker__navigation-icon::before {
  @apply border-[#D2D2D2] !important;
}

.react-datepicker__day--today {
  @apply text-[#A9DFD8] font-normal !important;
}

.custom-tooltip {
  background: #2C2D33;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #D2D2D2;
  font-family: 'Inter', sans-serif;
  border: 1px solid #383942;
}

.apexcharts-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
